结阵
SFQ JN 2# 20240924 S24Y2111123
SFQ JN 8#
test.py
test2.py
T1-df.txt
B2.txt
config_input_tab.json
**/__pycache__/
*.zip
*.rar


# web相关
/application/web/static/inputs
/application/web/static/results
/application/web/logs
/application/web/backup